@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.4em;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: none;
}